{% extends "enroll/base.html" %}
{% block content %}
<div class="row">
    <div class="col-sm-4">
        <h4 class="text-center">Add Student</h4>
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" class="btn btn-success" value="add">
            </form>
    </div>
    <div class="col-sm-8">
        <h4 class="text-center">Show Student Information</h4>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Sr No.</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th style="width: 240px;">Action</th>
                </tr>
            </thead>
            <tbody>
                {% if students %}
                    {% for student in students %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ student.name }}</td>
                            <td>{{ student.email }}</td>
                            <td>{{ student.password }}</td>
                            <td>
                                <!-- <a href="{% comment %} {% url 'edit_student' student.id %} {% endcomment %}" class="btn btn-primary btn-sm">Edit</a>
                                <a href="{% comment %} {% url 'delete_student' student.id %} {% endcomment %}" class="btn btn-warning btn-sm">Delete</a> -->
                                <a href="{% url 'updatedata' student.id %}" class="btn btn-primary btn-sm">Edit</a>
                                <form action="{% url 'delete_student' student.id %}" method="POST" class="d-inline">
                                    {% csrf_token %}
                                    <input type="submit" value="Delete" class="btn btn-danger btn-sm">
                                </form>
                                <!-- <a href="{% url 'delete_student' student.id %}" class="btn btn-warning btn-sm">Delete</a> -->
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5">No records found.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}